@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 30px;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding-top: 16px;
}

.widescreen {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.padding-left-right {
  padding-left: 160px;
  padding-right: 160px;
}

/*@media (min-width: 1440px) {
    .widescreen {
        padding-left: calc((100% - 1160px) / 2);
        padding-right: calc((100% - 1160px) / 2);
    }*/

/*== 1. SECTION ==*/
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 16px;
}

header img {
  height: 80px;
}

nav ul {
  font-family: "Raleway-Regular", sans-serif;
  list-style: none;
  margin: 0;
  font-weight: 600;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

nav a {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #3f3d3e;
}

nav a:hover {
  color: #028102;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
  text-underline-offset: 12px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-shadow: 1px 1px 1px 0.2 #028102;
}

/*= Content =*/
.daily-recipe {
  display: flex;
  background-color: white;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 5px;
}

.daily-recipe img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.daily-recipe h2 {
  font-family: "Raleway-Regular";
  font-size: 32px;
  margin: 0;
  margin-bottom: 32px;
}

.daily-recipe p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 80px;
}

.daily-recipe button {
  background-color: #028102;
  padding: 10px 48px;
  border: 1px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
}

.daily-recipe button:hover {
  background-color: #05970a;
}

.daily-recipe button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 720px) {
  .daily-recipe {
    flex-direction: column;
    align-items: center;
  }

  .daily-recipe img {
    width: 100%;
    height: auto;
  }

  .daily-recipe h2 {
    text-align: center;
  }

  .daily-recipe p {
    text-align: center;
  }
}

@media (max-width: 1180px) {
  nav ul li {
    font-size: 16px;
    margin-left: 10px;
  }

  header img {
    height: 60px;
  }
}
/*== 2. SECTION ==*/

.ideas-bg {
  background-color: rgb(219, 219, 219);
}

.ideas {
  display: flex;
  flex-direction: column;
}

.ideas h2 {
  font-family: "Raleway-Regular";
  margin: 0px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.ideas img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 8px;
  object-fit: cover;
}

.ideas a {
  font-family: "Raleway-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.ideas-picker {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  gap: 8px;
}

@media (max-width: 1080px) {
  .ideas {
    padding-left: 80px;
    padding-right: 80px;
  }
  .ideas img {
    max-width: 220px;
    width: 100%;
    height: auto;
  }
  .ideas-picker {
    gap: 16px;
  }
}

@media (max-width: 768px) {
  .ideas h2 {
    font-size: 26px;
  }

  .ideas-picker {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 48px;
  }
  .ideas img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
  .ideas {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .ideas h2 {
    font-size: 22px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .ideas img {
    max-width: 200px;
  }
  .ideas {
    padding-left: 8px;
    padding-right: 8px;
  }
}
/*== 3. SECTION ==*/
.PoW {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding-top: 48px;
  padding-bottom: 112px;
  margin-top: 5px;
}

.PoW-txt-img {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.PoW-txt-img img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.PoW-txt {
  display: flex;
  justify-content: flex-start;
}
/*== FOOTER SECTION ==*/

footer {
  background-color: #929292;
}

.footer-container {
  background-color: #929292;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 80px;
  padding-bottom: 64px;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.footer-logo-img {
  height: 80px;
  width: auto;
  filter: invert(95%) sepia(100%) saturate(18%) hue-rotate(236deg)
    brightness(103%) contrast(100%);
}

.footer-links a {
  color: white;
  font-size: 20px;
  font-family: "Raleway-Regular";
  text-decoration: none;
}

.footer-links a:hover {
  color: #028102;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  text-underline-offset: 12px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-shadow: 1px 1px 1px 0.2 #028102;
}

.separator {
  color: white;
  font-size: 20px;
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-content-right-button {
  background-color: #028102;
  color: white;
  padding: 10px 24px;
  border: 1px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
}

.footer-content-right-button:hover {
  background-color: #05970a;
}

.footer-content-right-button a {
  text-decoration: none;
  color: white;
}

.social-links {
  display: flex;
  gap: 16px;
}

.social-links img {
  height: 56px;
}

/*== RECIPE SITE ==*/

.recipe-info {
  display: flex;
  align-items: center;
  justify-content: start;
}

.recipe-info img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

figure {
  display: flex;
  align-items: center;
  background-color: #eeefee;
  margin-inline-start: 0;
  margin-inline-end: 20px;
  padding: 6px 10px;
  border-radius: 10px;
}

hr {
background-color: rgb(167, 32, 32);
}

.recipe-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ingredients {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.ingredients td {
  padding: 12px 8px;
}

.ingredients-right {
  text-align: left;
  border-radius: 0 8px 8px 0;
}

.ingredients-left {
  text-align: right;
  border-radius: 8px 0 0 8px;
}

.ingredients tr:nth-child(odd) {
  background-color: #eeefee;
}

.portion-input {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.portion-input input {
  margin-left: 8px;
  padding: 10px;
  border: 1px solid #f1eaea;
  border-radius: 5px 0 0 5px;
}

.portion-input button {
  padding: 11px 32px;
  border: none;
  border-radius: 0;
  background-color: #028102;
  color: white;
  cursor: pointer;
}

.portion-input button:hover {
  background-color: #05970a;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 112px;
}

.profile span {
  margin-left: 12px;
  font-size: 18px;
}

.profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-section-title {
  margin-top: 32px;
  margin-bottom: 0;
}

/*== CONTACT SITE ==*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
  margin: 0;
}

.contact-box {
  background-color: #dbdbdb;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.contact-box h2 {
  font-family: "Raleway-Regular";
  font-size: 32px;
  margin-top: 0;
}

form p {
  font-family: "Raleway";
  font-size: 16px;
  margin: 0;
}

.input-form {
  border: 1px;
  border-radius: 4px;
  height: 24px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  border: 1px;
  border-radius: 4px;
  height: 300px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit {
  background-color: #028102;
  color: white;
  padding: 10px 40px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
}

.submit:hover {
  background-color: #05970a;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*== IMPRINT SITE ==*/

.imprint {
  text-align: center;
  font-family: "Raleway-Regular";
}

@media (max-width: 1080px) {
  .imprint-section {
    padding-left: 80px;
    padding-right: 80px;
  }
  .imprint h1 {
    font-size: 30px;
    padding-top: 48px;
    padding-bottom: 24px;
  }
  .imprint h2 {
    font-size: 22px;
    padding-top: 24px;
    padding-bottom: 16px;
  }
}

@media (max-width: 768px) {
  .imprint-section {
    padding-left: 8px;
    padding-right: 8px;
  }
  .imprint h1 {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
  .imprint h2 {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
  }
  .imprint h3,
  .imprint h4 {
    font-size: 14px;
    padding-top: 4px;
  }
  .imprint p,
  .imprint ul {
    font-size: 13px;
  }
  .imprint ul {
    padding-left: 18px;
  }
}
