@font-face {
  font-family: "Raleway-Bold";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-VariableFont_wght.ttf");
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 36px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 30px;
}

h2 {
  font-family: "Raleway-Regular";
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 0;
  padding-top: 16px;
}

.header-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 102px;
  background: linear-gradient(#ececed, #ffffff);
  height: 10px;
}

.widescreen {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

.padding-left-right {
  padding-left: 160px;
  padding-right: 160px;
}

/*== 1. SECTION ==*/
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

header img {
  height: 80px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

nav ul {
  font-family: "Raleway-Regular", sans-serif;
  list-style: none;
  margin: 0;
  font-weight: 600;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

nav a {
  text-decoration: underline;
  text-decoration-color: transparent;
  color: #3f3d3e;
  transition: all 0.15s ease-in-out;
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
}

nav a:hover {
  color: #028102;
  font-weight: 700;
  text-decoration: underline;
  text-shadow: 1px 1px 1px 0.2 #028102;
  text-decoration-thickness: 4px;
}

/*= Content =*/
.daily-recipe {
  display: flex;
  background-color: white;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: 5px;
}

.daily-recipe img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.daily-recipe h2 {
  padding-bottom: 24px;
}

.daily-recipe p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 80px;
}

.daily-recipe button {
  background-color: #028102;
  padding: 10px 48px;
  border: 1px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
  transition: all 0.15s ease-in-out;
}

.daily-recipe button:hover {
  background-color: #05970a;
}

.daily-recipe button a {
  text-decoration: none;
  color: white;
}

/*== 2. SECTION ==*/

.ideas-bg {
  background-color: #eeefee;
}

.ideas {
  display: flex;
  flex-direction: column;
}

.ideas h2 {
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.ideas img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: 8px;
  object-fit: cover;
}

.ideas a {
  font-family: "Raleway-Regular";
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
}

.ideas-picker {
  display: flex;
  justify-content: space-between;
  padding-bottom: 96px;
  gap: 8px;
}

/*== 3. SECTION ==*/

.PoW {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  padding-top: 48px;
  padding-bottom: 112px;
  margin-top: 5px;
}

.PoW h2 {
  padding-bottom: 32px;
}

.PoW-txt-img {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.PoW-txt-img img {
  height: 300px;
  width: auto;
  border-radius: 10px;
}

.PoW-txt {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

/*== FOOTER SECTION ==*/

footer {
  background-color: #929292;
}

.footer-container {
  background-color: #929292;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 80px;
  padding-bottom: 64px;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.footer-content-left a {
  text-decoration: none;
  color: white;
}

.footer-logo-img {
  height: 80px;
  width: auto;
  filter: invert(95%) sepia(100%) saturate(18%) hue-rotate(236deg)
    brightness(103%) contrast(100%);
}

.footer-links a {
  text-decoration: underline;
  color: white;
  font-size: 20px;
  font-family: "Raleway-Regular";
  text-decoration: transparent;
  transition: all 0.15s ease-in-out;
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
}

.footer-links a:hover {
  color: #028102;
  font-weight: 700;
  text-underline-offset: 12px;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-shadow: 1px 1px 1px 0.2 #028102;
}

.separator {
  color: white;
  font-size: 20px;
}

.separator-hide {
  color: white;
  font-size: 20px;
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer-content-right-button {
  background-color: #028102;
  color: white;
  padding: 10px 24px;
  border: 1px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
  transition: all 0.15s ease-in-out;
}

.footer-content-right-button:hover {
  background-color: #05970a;
}

.footer-content-right-button a {
  text-decoration: none;
  color: white;
}

.social-links {
  display: flex;
  gap: 4px;
}

.social-links div {
  width: 100px;
  display: flex;
  justify-content: space-between;
  height: 48px;
  border-radius: 20%;
}

.social-links img {
  height: 48px;
}

/*== RECIPE SITE ==*/

.recipe-info {
  display: flex;
  align-items: center;
  justify-content: start;
}

.recipe-info img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}

figure {
  display: flex;
  align-items: center;
  background-color: #eeefee;
  margin-inline-start: 0;
  margin-inline-end: 20px;
  padding: 6px 10px;
  border-radius: 10px;
}

.recipe-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.ingredients {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

.ingredients td {
  padding: 12px 8px;
}

.ingredients-right {
  text-align: left;
  border-radius: 0 8px 8px 0;
}

.ingredients-left {
  text-align: right;
  border-radius: 8px 0 0 8px;
  width: 200px;
}

.ingredients tr:nth-child(odd) {
  background-color: #eeefee;
}

.portion-input {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.portion-input input[type="number"] {
  margin-left: 8px;
  padding: 10px;
  border: 1px solid #f1eaea;
  border-radius: 5px 0 0 5px;
}

.portion-input input[type="submit"] {
  padding: 11px 32px;
  border: none;
  border-radius: 0;
  background-color: #028102;
  color: white;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.portion-input button:hover {
  background-color: #05970a;
}

.portion-line {
  height: 2px;
  background-color: #f1eaea;
  margin-top: 32px;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 104px;
}

.profile span {
  margin-left: 12px;
  font-size: 18px;
}

.profile img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.recipe-section-title {
  margin-top: 32px;
  margin-bottom: 0;
}

/*== CONTACT SITE ==*/

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1200px;
  margin: 0;
}

.contact-box {
  background-color: #dbdbdb;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.contact-box h2 {
  font-family: "Raleway-Regular";
  font-size: 32px;
  margin-top: 0;
}

form p {
  font-family: "Raleway";
  font-size: 16px;
  margin: 0;
}

.input-form {
  border: 1px;
  border-radius: 4px;
  height: 24px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

textarea {
  border: 1px;
  border-radius: 4px;
  height: 300px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit {
  background-color: #028102;
  color: white;
  padding: 10px 40px;
  border: 1px;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
}

.submit:hover {
  background-color: #05970a;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*== SEND_MAIL SITE ==*/

.submit-container {
  height: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-box {
  background-color: #eeefee;
  display: flex;
  padding: 24px;
  border-radius: 10px;
  gap: 24px;
  margin: 0px 48px;
}

.submit-box img {
  height: 240px;
  width: 320px;
}

.submit-box button {
  background-color: #028102;
  padding: 10px 28px;
  border: 1px;
  cursor: pointer;
  font-family: "Raleway-Regular";
  font-size: 20px;
  transition: all 0.15s ease-in-out;
  margin-top: 16px;
}

.submit-box button:hover {
  background-color: #05970a;
}

.submit-box button a {
  text-decoration: none;
  color: white;
}

/*== IMPRINT SITE ==*/

.imprint {
  text-align: left;
  font-family: "Raleway-Regular";
  padding-bottom: 48px;
}

/*== MEDIA QUERIES ==*/

/* 1080px */
@media (max-width: 1080px) {
  /* Navigation */
  nav ul li {
    font-size: 16px;
    margin-left: 5px;
  }

  header img {
    height: 60px;
  }

  .padding-left-right {
    padding-left: 56px;
    padding-right: 56px;
  }

  .header-line {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 83px;
  }

  /* Daily Recipe */
  .daily-recipe img {
    height: 200px;
  }

  .daily-recipe p {
    margin-bottom: 40px;
  }

  /* Ideas Section */
  .ideas img {
    width: 200px;
    height: 200px;
  }

  .ideas-picker {
    gap: 16px;
  }

  /* PoW Section */
  .PoW {
    padding-bottom: 80px;
  }

  .PoW-txt-img img {
    height: 200px;
  }

  /* Footer */
  .footer-logo-img {
    height: 60px;
  }

  .footer-links a {
    font-size: 16px;
  }

  .footer-container {
    padding-top: 64px;
    padding-bottom: 48px;
  }

  .footer-content-right-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  /* Imprint */
  .imprint-section {
    padding-left: 80px;
    padding-right: 80px;
  }

  .imprint h1 {
    font-size: 30px;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .imprint h2 {
    font-size: 22px;
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .submit-box button {
    padding: 10px 26px;
  }
}

/* 768px */
@media (max-width: 768px) {
  /* General */
  .padding-left-right {
    padding-left: 20px;
    padding-right: 20px;
  }

  h2 {
    text-align: center;
    font-size: 26px;
    padding-top: 24px;
  }

  /* Navigation */

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #ececed;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }

  .header-nav {
    justify-content: space-between;
    align-items: center;
  }

  header img {
    padding-bottom: 0;
  }

  /* Daily Recipe */
  .daily-recipe {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .daily-recipe img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .daily-recipe p {
    text-align: center;
    font-size: 16px;
  }

  .button-wrapper-responsive {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .daily-recipe button {
    font-size: 16px;
    padding: 10px 32px;
  }

  /* Ideas Section */
  .ideas-picker {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 48px;
  }

  .ideas img {
    height: 300px;
    max-width: 300px;
    width: auto;
    border-radius: 10px;
  }

  .ideas {
    padding-left: 24px;
    padding-right: 24px;
  }

  /* PoW Section */
  .PoW-txt-img {
    flex-direction: column;
    align-items: center;
  }

  .PoW-txt-img img {
    width: 100%;
    height: auto;
    max-width: 300px;
  }

  .PoW-txt p {
    text-align: center;
    font-size: 16px;
  }

  .PoW {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 48px;
  }

  /* Footer */
  .footer-links a {
    font-size: 16px;
  }

  .social-links img {
    height: 32px;
  }

  .social-links div {
    width: 68px;
    height: 32px;
  }

  .footer-container {
    padding: 32px 24px;
  }

  .footer-content-right-button {
    padding: 5px 10px;
    font-size: 16px;
  }

  .footer-content-left {
    align-items: center;
    padding-bottom: 0;
  }

  /* Recipe Site */
  .recipe-info {
    font-size: 14px;
  }

  /* Imprint */
  .imprint-section {
    padding-left: 8px;
    padding-right: 8px;
  }

  .imprint h1 {
    font-size: 20px;
    padding-top: 16px;
    padding-bottom: 8px;
  }

  .imprint h2 {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 6px;
  }

  .imprint h3,
  .imprint h4 {
    font-size: 14px;
    padding-top: 4px;
  }

  .imprint p,
  .imprint ul {
    font-size: 13px;
  }

  .imprint ul {
    padding-left: 18px;
  }

  /* Submit Form */
  .submit-box {
    width: 480px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
  }

  .submit-box h2 {
    padding-bottom: 22px;
  }
}

/* 600px */
@media (max-width: 600px) {
  /* Ideas Section */
  h2 {
    font-size: 22px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .ideas img {
    height: 300px;
    width: 300px;
    border-radius: 10px;
  }

  .ideas {
    padding-left: 8px;
    padding-right: 8px;
  }

  /* PoW Section */
  .PoW h2 {
    font-size: 22px;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .PoW {
    padding-left: 8px;
    padding-right: 8px;
  }

  .footer-content-right-button {
    display: none;
  }

  /* Footer */
  .social-links {
    flex-direction: column;
    justify-content: center;
    gap: 0 !important;
  }

  .footer-container {
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 32px 24px;
  }

  .social-links div {
    padding-bottom: 4px;
  }

  .footer-content-left {
    align-items: center;
  }

  .footer-content-right {
    padding-top: 16px;
  }

  /* Recipe Site */
  .portion-input {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
  }

  .ingredients {
    font-size: 14px;
  }

  .ingredients-left {
    width: 100px;
  }

  .recipe-info {
    flex-direction: column;
    align-items: center;
  }

  .submit-box h2 {
    font-size: 22px;
    padding: 16px 0px 8px 0px;
  }

  /* Submit Form */
  .submit-box p {
    font-size: 14px;
  }

  .submit-box button {
    padding: 8px 24spx;
    font-size: 16px;
  }
}

/* 442px */
@media (max-width: 442px) {
  .footer-container {
    gap: 20px;
  }

  .footer-content-left {
    width: 240px;
  }

  .footer-content-right {
    padding-top: 0px;
  }

  .footer-links {
    text-align: center;
  }

  .separator-hide {
    display: none;
  }

  .footer-links a:hover {
    text-decoration: none;
  }

  /* Submit Form */
  .submit-box {
    width: 300px;
    flex-direction: column;
    padding: 24px 16px 24px 16px;
    gap: 8px;
  }

  .submit-box h2 {
    font-size: 22px;
    padding: 16px 0px 8px 0px;
  }

  .submit-box img {
    width: 240px;
    height: auto;
    object-fit: cover;
  }
}

/* 400px */
@media (max-width: 400px) {
  .ideas img {
    height: 250px;
    width: 250px;
  }
}
