@font-face {
    font-family: 'Raleway-Bold';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-VariableFont_wght.ttf');
    font-weight: 300;
}

